
$position: (
  l: left,
  r: right,
  t: top,
  b: bottom
);
$size: 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 48, 56;
$fsSize: 12, 14, 16, 18, 20, 24, 28, 32, 36, 48, 56;
$color: (
  brand: #0AB387,
  blue: #4279FD,
  green: #0AB387,
  orange: #C14A27,
  yellow: #F7AB4F,
);
@function rgbaToHex($rgbaColor,$background: rgb(255,255,255)) {
  $bgR : red($background);
  $bgG : green($background);
  $bgB : blue($background);

  $colorRed : red($rgbaColor);
  $colorGreen : green($rgbaColor);
  $colorBlue : blue($rgbaColor);
  $colorAlpha : alpha($rgbaColor);

  $rgbColor : rgb(
      (1 - $colorAlpha) * $bgR + $colorAlpha * $colorRed,
      (1 - $colorAlpha) * $bgG + $colorAlpha * $colorGreen,
      (1 - $colorAlpha) * $bgB + $colorAlpha * $colorBlue);
  @return $rgbColor;
}

.pointer {
  &:hover {
    cursor: pointer;
    color: map-get($color, brand);
  }
}

.link {
  &:hover {
    cursor: pointer;
    color: map-get($color, blue);
  }
}

// 字体大小
@each $item in $fsSize {
  .fs#{$item} {
    font-size: $item + px;
    @if $item % 4 == 0 {
      line-height: $item * 1.5 + px
    } @else {
      line-height: $item * 1.5 - 1 + px
    }
  }
}
// 颜色
@each $key, $value in $color{
  .#{$key} {
    color: $value;
    &.pointer {
      color: rgba($color: $value, $alpha: .8);
    }
  }
  .bg-#{$key} {
    $color: rgba($color: $value, $alpha: .1);
    background-color: rgbaToHex($color);
  }
}
// n内外间距
@each $item in $size {
  .mg-#{$item} {
    margin: $item + px;
  }
  .pd-#{$item} {
    padding: $item + px;
  }
  @each $key, $value in $position{
    .mg-#{$key + $item} {
      margin-#{$value}: $item + px;
    }
    .pd-#{$key + $item} {
      padding-#{$value}: $item + px;
    }
  }
}
// 文本
.text {
  &-xs,
  &-s,
  &-m,
  &-l,
  &-xl {
    display: inline-block;
  }
  &-xs { // 24
    padding: 3px 0;
    line-height: 18px;
    font-size: 12px;
  }
  &-s { // 28
    padding: 4px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &-m { // 32
    padding: 6px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &-l { // 36
    padding: 8px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &-xl { // 40
    padding: 8px 0;
    line-height: 24px;
    font-size: 16px;
  }
}
// 对齐方式  text-align vertical-align
.align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-middle {
    vertical-align: middle;
  }
  &-top {
    vertical-align: top;
  }
  &-bottom {
    vertical-align: bottom;
  }
  &-super {
    vertical-align: super;
  }
  &-sub {
    vertical-align: sub;
  }
}

.flex {
  &-between-top {
    display: flex;
  }
  &-cc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}