
@import './variable.scss';

#{aj_to_cls(disabled)} {
  cursor: not-allowed;
  $color: map-get($aj_color, black);
  color: aj-get-disabled-color($color);
}

#{aj_to_cls(pointer)} {
  &:hover {
    cursor: pointer;
    $color: map-get($aj_color, brand);
    color: $color;
  }
}

#{aj_to_cls(link)} {
  &:hover {
    cursor: pointer;
    color: map-get($aj_color, blue);
  }
}

// 颜色
@each $key, $value in $aj_color {
  #{aj_to_cls($key)} {
    color: aj-get-color($key);
    &.pointer:hover,
    &.active {
      color: aj-get-hover-color($key);
    }
  }
  #{aj_to_cls("text-" +  $key)} {
    color: aj-get-text-color($key);
  }
  #{aj_to_cls("desc-" +  $key)} {
    color: aj-get-desc-color($key);
  }
  #{aj_to_cls("bg-" +  $key)} {
    background-color: aj-get-background-color($key);
  }
  #{aj_to_cls($key + ".disabled")} {
    color: aj-get-disabled-color($key);
  }
}
