
$brand: #4279FD !default;
$color: (
  blue: #4279FD,
  green: #0AB387,
  orange: #C14A27,
  yellow: #F7AB4F,
  black: #656565,
) !default;


$c:
15, 25, 35, 45, 55, 65, 75, 85, 95, a5, b5, c5, d5, e5, f5,
0d, 1d, 2d, 3d, 4d, 5d, 6d, 7d, 8d, 9d, ad, bd, cd, dd, ed, fd;


@function rgbaToHex($rgbaColor,$background: rgb(255,255,255)) {
  $bgR : red($background);
  $bgG : green($background);
  $bgB : blue($background);

  $colorRed : red($rgbaColor);
  $colorGreen : green($rgbaColor);
  $colorBlue : blue($rgbaColor);
  $colorAlpha : alpha($rgbaColor);

  $rgbColor : rgb(
      (1 - $colorAlpha) * $bgR + $colorAlpha * $colorRed,
      (1 - $colorAlpha) * $bgG + $colorAlpha * $colorGreen,
      (1 - $colorAlpha) * $bgB + $colorAlpha * $colorBlue);
  @return $rgbColor;
}

.disabled {
  cursor: not-allowed;
  $color: map-get($color, black);
  color: rgbaToHex(rgba($color: $color, $alpha: .2));
}

.pointer {
  &:hover {
    cursor: pointer;
    color: $brand;
  }
}

.link {
  &:hover {
    cursor: pointer;
    color: map-get($color, blue);
  }
}

// 颜色
@each $key, $value in $color{
  .#{"" + $key} {
    color: $value;
    &.pointer:hover,
    &-hover {
      color: rgbaToHex(rgba($color: $value, $alpha: .8));
    }
  }
  .bg-#{"" + $key} {
    $color: rgbaToHex(rgba($color: $value, $alpha: .1));
    background-color: rgbaToHex($color);
  }
  .#{"" + $key}-light {
    color: rgbaToHex(rgba($color: $value, $alpha: .6));
  }
  .#{"" + $key}.disabled {
    color: rgbaToHex(rgba($color: $value, $alpha: .2));
  }
}
@each $item in $c {
  .c#{$item} {
    color: #{'#'}#{$item}#{$item}#{$item};
  }
  .bg-c#{$item} {
    background-color: #{'#'}#{$item}#{$item}#{$item};
  }
}

.white {
  color: #fff;
}
.black {
  color: #000;
}
.bg-white {
  background: #fff;
}
.bg-black {
  background: #000;
}