
.flex-start,
.flex-end,
.flex-center,
.flex-between,
.flex-around,
.flex-evenly {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }

  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-stretch {
    align-items: stretch;
  }
  &-baseline {
    align-items: baseline;
  }
}

.flex-start {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: flex-start;
  }
}
.flex-end {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: flex-end;
  }
}
.flex-center {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: center;
  }
}
.flex-between {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: space-between;
  }
}
.flex-around {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: space-around;
  }
}
.flex-evenly {
  &,
  &-start,
  &-end,
  &-center,
  &-stretch,
  &-baseline {
    justify-content: space-evenly;
  }
}

.flex-item {
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
  &-center {
    align-self: flex-center;
  }
  &-stretch {
    align-self: stretch;
  }
  &-baseline {
    align-self: baseline;
  }
}



