
@import './theme.scss';

@each $key, $value in $aj_fs {
  #{aj-to-cls('fs-' + $key)} {
    font-size: $value;
    line-height: map-get($map: $aj_lh, $key: $key)
  }
}

@each $key, $value in $aj_fw {
  #{aj-to-cls('fw-' + $key)} {
    font-weight: $value;
  }
}
