
@import "./variable.scss";

$direction: (
  l: left,
  r: right,
  t: top,
  b: bottom
);

// n内外间距
@each $key, $item in $aj_space {
  #{aj_to_cls("mg-" + $key)} {
    margin: $item;
  }
  #{aj_to_cls("pd-" +  $key)} {
    padding: $item;
  }
}
@each $key, $item in $aj_space {
  @each $dir, $value in $direction{
    #{aj_to_cls("mg-" + $dir + "-" + $key)} {
      margin-#{$value}: $item;
    }
    #{aj_to_cls("pd-" + $dir + "-" + $key)} {
      padding-#{$value}: $item;
    }
  }
}

#{aj_to_cls("mg-auto")} {
  margin-left: auto;
  margin-right: auto;
}
#{aj_to_cls("block")} {
  display: block;
}
#{aj_to_cls("inline-block")} {
  display: inline-block;
}
#{aj_to_cls("inline")} {
  display: inline;
}
#{aj_to_cls("hide")} {
  display: none;
}