@import './theme.scss';

// 文本
#{aj-to-cls('text')} {
  &,
  &-xs,
  &-s,
  &-m,
  &-l,
  &-xl {
    display: inline-block;
    vertical-align: bottom;
    &.inline {
      padding-top: 0;
      padding-bottom: 0;
      display: inline-block;
    }
  }
  @each $key, $value in $aj_row {
    $self_fs: map-get($aj_fs, $key);
    $self_lh: map-get($aj_lh, $key);
    $self_pd: calc(($value -  $self_lh) / 2);
    &-#{$key} {
      padding-top: $self_pd;
      padding-bottom: $self_pd;
      font-size: $self_fs;
      line-height: $self_lh;
      &.inline {
        line-height: inherit;
      }
    }
  }
}

// 对齐方式  text-align vertical-align
#{aj-to-cls('align')} {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-top {
    vertical-align: top;
  }
  &-middle {
    vertical-align: middle;
  }
  &-bottom {
    vertical-align: bottom;
  }
  &-justify {
    text-align: justify;
  }
  &-super {
    vertical-align: super;
  }
  &-sub {
    vertical-align: sub;
  }
}

// 换行
#{aj-to-cls('nowrap')} {
  white-space: nowrap;
}
#{aj-to-cls('wrap')},
#{aj-to-cls('pre-wrap')} {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
}
#{aj-to-cls('wrap')} {
  white-space: normal;
}
#{aj-to-cls('pre-wrap')} {
  white-space: pre-wrap;
}

