

// 文本
.text {
  &,
  &-xs,
  &-s,
  &-m,
  &-l,
  &-xl {
    display: inline-block;
    vertical-align: bottom;
  }
  &-xs { // 24
    padding: 3px 0;
    line-height: 18px;
    font-size: 12px;
  }
  &-s { // 28
    padding: 4px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &,
  &-m { // 32
    padding: 6px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &-l { // 36
    padding: 8px 0;
    line-height: 20px;
    font-size: 14px;
  }
  &-xl { // 40
    padding: 8px 0;
    line-height: 24px;
    font-size: 16px;
  }
}

// 对齐方式  text-align vertical-align
.align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
  &-middle {
    vertical-align: middle;
  }
  &-top {
    vertical-align: top;
  }
  &-bottom {
    vertical-align: bottom;
  }
  &-super {
    vertical-align: super;
  }
  &-sub {
    vertical-align: sub;
  }
}

// 换行
.nowrap {
  white-space: nowrap;
}
.wrap,
.pre-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;

}
.wrap {
  white-space: normal;
}
.pre-wrap {
  white-space: pre-wrap;
}