@import './variable.scss';

// 文本
.text {
  &,
  &-xs,
  &-s,
  &-m,
  &-l,
  &-xl {
    display: inline-block;
    vertical-align: bottom;
  }

  @each $key, $value in $aj_size {
    &-#{$key} { // 24
      $size: map-get($value, size);
      $fs: map-get($value, fs);
      $lh: map-get($value, lh);
      $pd: calc(($size - $lh)/2);
      padding: #{$pd}px 0;
      line-height: #{$lh}px;
      font-size: #{$fs}px;
    }
  }
}

// 对齐方式  text-align vertical-align
.align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
  &-middle {
    vertical-align: middle;
  }
  &-top {
    vertical-align: top;
  }
  &-bottom {
    vertical-align: bottom;
  }
  &-super {
    vertical-align: super;
  }
  &-sub {
    vertical-align: sub;
  }
}

// 换行
.nowrap {
  white-space: nowrap;
}
.wrap,
.pre-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
}
.wrap {
  white-space: normal;
}
.pre-wrap {
  white-space: pre-wrap;
}