
$aj_colors: (
  brand: #4279FD,
  blue: #4279FD,
  green: #0AB387,
  orange: #C14A27,
  yellow: #F7AB4F,
  black: #656565,
) !default;

$js_size: (
  xl: 40,
  l: 36,
  m: 32,
  s: 28,
  xs: 24,
) !default;


