$aj_cls_prefix: '' !default; // 例如 'aj-'
$aj_theme_prefix: 'aj_';

@function aj-to-cls ($suffix) {
  @return '.' + $aj_cls_prefix + $suffix;
};

@function aj-to-theme ($suffix) {
  @return '--' + $aj_theme_prefix + $suffix;
};

$aj_fs: (
  xs: 10px,
  s: 12px,
  m: 14px,
  l: 16px,
  xl: 20px,
  2xl: 24px,
  3xl: 38px,
  4xl: 32px,
  5xl: 36px,
) !default;

$aj_lh: () !default;
@each $key, $value in $aj_fs {
  $aj_lh: map-merge($aj_lh, ($key: $value + 8px));
}

$aj_fw: (
  s: 400,
  m: 500,
  l: 600,
) !default;

$aj_color: (
  "brand": "47, 84, 235",
  "blue": "47, 84, 235",
  "green": "160, 217, 17",
  "red": "245, 34, 45",
  "orange": "250, 140, 22",
  "yellow": "250, 219, 20",
  "purple": "114, 46, 209",
  "black": "52, 52, 52",
  "white": "248, 248, 248",
) !default;

$aj_color_opacity: (
  "text": 0.8,
  "desc": 0.6,
  "hover": 0.72,
  "disabled": 0.2,
  "background": 0.04,
) !default;

$aj_bgc_opacity: 0.1 !default;
$aj_bdc_opacity: 1 !default;
$aj_disabled_opacity: 0.2 !default;

@function aj-get-color ($color) {
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", 1)"};
  @return $self_rgba;
};

@function aj-get-text-color ($color) {
  $self_opacity: map-get($aj_color_opacity, "text");
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", " + $self_opacity + ")"};
  @return $self_rgba;
};

@function aj-get-desc-color ($color) {
  $self_opacity: map-get($aj_color_opacity, "desc");
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", " + $self_opacity + ")"};
  @return $self_rgba;
};

@function aj-get-hover-color ($color) {
  $self_opacity: map-get($aj_color_opacity, "hover");
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", " + $self_opacity + ")"};
  @return $self_rgba;
};

@function aj-get-disabled-color ($color) {
  $self_opacity: map-get($aj_color_opacity, "disabled");
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", " + $self_opacity + ")"};
  @return $self_rgba;
};

@function aj-get-background-color ($color) {
  $self_opacity: map-get($aj_color_opacity, "background");
  $self_rgb: map-get($aj_color, $color);
  $self_rgba: #{"rgba(" + $self_rgb + ", " + $self_opacity + ")"};
  @return $self_rgba;
};

// @function aj-get-color ($color, $opacity) {
//   $self_rgb: map-get($aj_color, $color);
//   $self_rgba: #{"rgba(" + $self_rgb + ", " + $opacity + ")"};
//   @return $self_rgba;
// };

$aj_row: (
  xs: 24px,
  s: 28px,
  m: 32px,
  l: 36px,
  xl: 40px,
) !default;

$aj_block_space: (
  xs: 12px,
  s: 16px,
  m: 20px,
  l: 24px,
  xl: 28px,
) !default;

$aj_text_space: (
  xs: 4px,
  s: 8px,
  m: 12px,
  l: 16px,
  xl: 20px,
) !default;

$aj_reduce: (
  s: 4px,
  m: 8px,
  l: 12px,
) !default;
