
$width-xs: (
  xs: 16,
  s: 24,
  m: 36,
  l: 48,
  xl: 56,
) !default;
$width-s: (
  xs: 64,
  s: 80,
  m: 96,
  l: 112,
  xl: 136,
) !default;
$width-m: (
  xs: 160,
  s: 192,
  m: 224,
  l: 256,
  xl: 288,
) !default;
$width-l: (
  xs: 320,
  s: 448,
  m: 576,
  l: 704,
  xl: 832
) !default;
$width-xl: (
  xs: 960,
  s: 1120,
  m: 1280,
  l: 1440,
  xl: 1600
) !default;

$width: (
  xs: $width-xs,
  s: $width-s,
  m: $width-m,
  l: $width-l,
  xl: $width-xl,
);

@each $key, $sizeWidth in $width {
  @each $k, $w in $sizeWidth {
    .w-#{"" + $key}-#{"" + $k} {
      width: $w + px;
    }
  }
}
.w-full {
  width: 100%;
}
