name: jelper-publish
on:
  push:
   branches:
      - master
      - beta
# env:
#   NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
#   LOGER: none
#   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs: 
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: build
        run: |
          npm install -g pnpm@9.15.9
          npm install -g @microsoft/rush@5.71.0
          rush update
          rush build --verbose
      - name: publish beta
        if: ${{ github.ref_name == 'beta'}}
        run: rush publish --apply
      - name: publish
        if: ${{ github.ref_name == 'master'}}
        run: |
          rush publish -p --include-all --set-access-level public --tag=latest
      - name: publish docs
        if: ${{ github.ref_name == 'master'}}
        run: |
          cd website/
          pnpm install
          pnpm run build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "docs: Update README with timestamp [skip ci]"
          git push origin HEAD:website
