name: jelper-publish
on:
  push:
   branches:
      - master
      - beta

env:
  NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
  LOGER: none

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: build
        run: |
          npm install -g pnpm
          npm install -g @microsoft/rush
          rush update
          rush build
      - name: publish docs
        if: ${{ github.ref_name == 'website'}}
        env:
          # GITHUB_TOKEN 是 GitHub Actions 自动提供的 secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd website/
          pnpm install
          pnpm run build
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "docs: Update README with timestamp [skip ci]"
          git push origin HEAD:${{ github.ref_name }}

      - name: publish beta
        if: ${{ github.ref_name == 'beta'}}
        run: rush publish --apply
      - name: publish
        if: ${{ github.ref_name == 'master'}}
        run: |
          rush publish -p --include-all --set-access-level public --tag=latest
