name: jelper-publish
on:
  push:
   branches:
      - master
      - beta
# env:
jobs: 
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: build
        run: |
          npm install -g @microsoft/rush@5.164.0
          npm install -g npm@latest
          rush update
          rush build
      - name: publish beta
        if: ${{ github.ref_name == 'beta'}}
        run: rush publish --apply
      - name: publish
        if: ${{ github.ref_name == 'master'}}
        run: |
          rush publish-oidc
      - name: publish docs
        if: ${{ github.ref_name == 'master'}}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin
          git add -f docs/
          git commit -m "docs: Update README with timestamp [skip ci]" || echo "No changes to commit/amend"
          git push --force-with-lease origin HEAD:website
